<%- include('../partials/css') %>


<div class="form-container">
  <h2>Mot de passe oublié</h2>
  <form method="POST" action="/auth/forgot-password">
    <input type="email" name="email" placeholder="Entrez votre email" required />
    <button type="submit">Réinitialiser le mot de passe</button>
  </form>
  <p><a href="/auth/login">Retour à la connexion</a></p>
</div>

<%- include('../partials/footer') %>
