<%- include('../partials/header') %>

<div class="failure-container">
  <div class="failure-box">
    <h2>Paiement Échoué ❌</h2>
    <p>Malheureusement, votre transaction n’a pas pu être traitée.</p>
    <p>Merci de réessayer plus tard ou de contacter le support.</p>
    <button onclick="window.close()">Fermer cette fenêtre</button>
  </div>
</div>

<%- include('../partials/footer') %>
