<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Bienvenue | Mobile Money Bank</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta http-equiv="refresh" content="4; url=/order/new">
</head>
<body>
  
  <div class="welcome-container">
    <img src="/images/assetGkom.png" alt="Logo" class="logo" />
    <h1>Bienvenue sur <span class="highlight">Mobile Money Bank</span></h1>
    <p class="subtitle">Chargement de votre espace sécurisé...</p>
    <div class="loader"></div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
